@use "sass:color";
@use "../abstracts/colors";
@use "../abstracts/functions";
@use "../abstracts/mixins";
@use "../abstracts/variables";

@font-face {
  font-family: "Jost";
  src: url("/assets/fonts/jost/Jost-Regular.ttf");
}

html,body{
  font-size: 16px;
  h2 {
    font-size: functions.rem(variables.$font-size-h2);
  }
  
  h3 {
    font-size: functions.rem(variables.$font-size-h3);
  }
  
  h4{
    font-size: functions.rem(variables.$font-size-h4);
  }
  
  p {
    font-size: functions.rem(variables.$font-size-p);
  }
  
  a {
    color: colors.$primary-color;
    &:hover {
      color: colors.$link-hover-color;
    }
  }
}


@include mixins.responsive("lg-devices"){ 
  html,body{
  font-size: 14px;
  section{
    padding: functions.rem(40)0;
  }
}
}

@include mixins.responsive("md-devices") { 
  html,body{
  font-size: 16px;
}
}

@include mixins.responsive ("sm-devices"){
  html,body{
    font-size: 14px;
    section{
      padding: functions.rem(40)0;
    }
  }
}



section {
  padding: functions.rem(72)0;  
  .section-title {
    color: colors.$primary-color;
    margin-bottom: functions.rem(46);
    position: relative;
    display: inline-block;
    cursor: default;
    &::after {
      content: '';
      width: 50px;
      height: 3px;
      background: colors.$secondary-color;
      position: absolute;
      bottom: -10px;
      left: 50%;
      transform: translateX(-50%);
      transition: width 0.4s ease-in-out;
    }
    &:hover::after {
      width: 100px;
    }
  }

.sections-btns {
@include mixins.buttons;
&:hover {
  background: colors.$btns-hover-secondary-color;
}
}
}