// COLORS 
$primary-color: #3498db;
$secondary-color: #4a8a65;
$btns-hover-secondary-color: #3f7758;
$background-color: #f4f4f4;
$background-color-btns: #ddd;
$hero-bg-color: #6cbcf1;
$arrows-hover-color : #2d87c4;
$text-color: #333;
$link-hover-color: #2980b9;
$accent-light-bg: #fff;
$bg-progress-bars: #FFFFFF;
