@mixin buttons {
    display: inline-block;
    color: $text-color;
    background: $background-color-btns;
    padding: 16px 32px;
    border: none;
    border-radius: 5px;
    transition: 0.3s all ease;
    text-align: center;
    @include responsive("lg-devices"){
      padding: 13px 19px;
      font-size: 14px;
    }
    @include responsive("md-devices"){
      padding: 12px 15px;
    }
    @include responsive("sm-devices"){
      padding: 11px 10px;
    }
  
    &:hover {
      background: $secondary-color;
      color: $accent-light-bg;
      transform: translateY(-3px);
    }
  }
  
  @mixin progress-bar($width: 100%) {
    position: relative;
    background: lighten($primary-color, 50%);
    border-radius: 5px;
    height: 10px;
    width: 100%;
  
    &::before {
      content: '';
      display: block;
      height: 100%;
      background: $primary-color;
      border-radius: 5px;
      transition: width 0.3s ease-in-out;
      width: $width;
    }
  }

  @mixin responsive($device) {
    @if $device == 'lg-devices' {
      @media (max-width: 990px) {
        @content;
      }
    }
    @else if $device == 'md-devices' {
      @media (max-width: 768px) {
        @content;
      }
    }
    @else if $device == 'sm-devices' {
      @media (max-width: 576px) {
        @content;
      }
    }
  }
  