@use "sass:color";
@use "colors";

@mixin flex-container($justify, $align, $direction, $gap:5px) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
  gap: $gap;
}

@mixin buttons {
    display: inline-block;
    color: colors.$text-color;
    background: colors.$background-color-btns;
    padding: 16px 32px;
    border: none;
    border-radius: 5px;
    transition: 0.3s all ease;
    text-align: center;
    @include responsive("lg-devices"){
      padding: 13px 19px;
      font-size: 14px;
    }
    @include responsive("md-devices"){
      padding: 12px 15px;
    }
    @include responsive("sm-devices"){
      padding: 11px 10px;
    }
  
    &:hover {
      background: colors.$secondary-color;
      color: colors.$accent-light-bg;
      transform: translateY(-3px);
    }
  }

  @mixin responsive($device) {
    @if $device == 'lg-devices' {
      @media (max-width: 990px) {
        @content;
      }
    }
    @else if $device == 'md-devices' {
      @media (max-width: 768px) {
        @content;
      }
    }
    @else if $device == 'sm-devices' {
      @media (max-width: 576px) {
        @content;
      }
    }
  }
  