@use "sass:color";
@use "colors";
@use "../abstracts/functions";

@mixin flex-container($justify, $align, $direction, $gap: 5px) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
  gap: $gap;
}

@mixin responsive($device) {
  @if $device == "lg-devices" {
    @media (max-width: 990px) {
      @content;
    }
  } @else if $device == "md-devices" {
    @media (max-width: 768px) {
      @content;
    }
  } @else if $device == "sm-devices" {
    @media (max-width: 576px) {
      @content;
    }
  }
}
