$font-weight-bold: 700;
$font-weight-regular: 400;
$font-size-h1: 32;
$font-size-h2: 30;
$font-size-h3: 23;
$font-size-h4: 20;
$font-size-p: 16;

$section-padding-lg: 60px 0;
$section-padding-md: 40px 0;
$section-padding-sm: 30px 0;