// Footer
footer {
    text-align: center;
    padding: 18px;
    background: $primary-color;
    color: $accent-light-bg;
    a {
      color: #44785a;
  
      &:hover {
        color: $accent-light-bg;
      }
    }
  }

  @include responsive('lg-devices') {
    footer{
    padding: 20px;
}
  }