@use "../../abstracts/colors";
@use "../../abstracts/mixins";
@use "../../abstracts/functions";

// Footer
footer {
    text-align: center;
    padding: functions.rem(18);
    background: colors.$primary-color;
    color: colors.$accent-light-bg;
    a {
      color: #44785a;
  
      &:hover {
        color: colors.$accent-light-bg;
      }
    }
  }