@use "../../abstracts/colors";
@use "../../abstracts/mixins";

// Footer
footer {
    text-align: center;
    padding: 18px;
    background: colors.$primary-color;
    color: colors.$accent-light-bg;
    a {
      color: #44785a;
  
      &:hover {
        color: colors.$accent-light-bg;
      }
    }
  }

  @include mixins.responsive('lg-devices') {
    footer{
    padding: 20px;
}
  }