@use "../../abstracts/mixins";
@use "../../abstracts/variables";
@use "../../abstracts/functions";

.about-section {
  .about-image {
    img {
      border-radius: 5px;
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    }
  }
  .about-text {
    p {
      margin-bottom: functions.rem(25);
      .dynamic-role {
        color: #e74c3c;
        font-weight: variables.$font-weight-bold;
      }
    }
  }
}
