@use "sass:color";
@use "../../abstracts/colors";
@use "../../abstracts/mixins";
@use "../../abstracts/functions";

.contact-section {
  .contact-info {
    p {
      margin-bottom: functions.rem(12);
    }
  }
  .contact-form {
    ul {
      li {
        i {
          color: colors.$primary-color;
          margin-right: 5px;
          font-size: functions.rem(19);
        }

        a {
          &:hover {
            color: colors.$secondary-color;
          }
        }
      }
    }

    input,
    textarea,
    select {
      width: 100%;
      padding: functions.rem(16);
      border: 1px solid transparent;
      border-radius: 5px;
      margin-bottom: functions.rem(8);

      &:focus {
        border-color: colors.$primary-color;
        outline: none;
        box-shadow: 0 0 5px rgba(colors.$primary-color, 0.5);
      }
    }

    button {
      width: 100%;
    }
  }
}
