@use "sass:color";
@use "../../abstracts/colors";
@use "../../abstracts/mixins";

.contact-section {
    .contact-form {
      @extend .flex-container;
        ul {
          li {
            @extend .flex-container;

            i {
              color: colors.$primary-color;
              margin-right: 5px;
              font-size: 19px;
            }

            a {
              &:hover {
                color: colors.$secondary-color;
              }
            }
          }
      }

        input,
        textarea,
        select {
          width:100%;
          padding: 16px;
          border: 1px solid color.adjust(colors.$primary-color, $lightness: 40%);
          border-radius: 5px;

          &:focus {
            border-color: colors.$primary-color;
            outline: none;
            box-shadow: 0 0 5px rgba(colors.$primary-color, 0.5);
          }
        }

        button {
          width: 100%;
          @extend .sections-btns;
        }
      }
    }

    @include mixins.responsive("md-devices"){
      .contact-section {
        .contact-form {
          input,
          textarea,
          select {
            padding: 12px;
      }
    }
  }
  }

  @include mixins.responsive("sm-devices"){
    .contact-section {
      .contact-form {
        input,
        textarea,
        select {
          padding: 10px;
    }
  }
}
}