@use "sass:color";
@use "../../abstracts/colors";
@use "../../abstracts/mixins";
@use "../../abstracts/functions";

.services-section {
  .services-cards {
    text-align: center;
    padding: functions.rem(48);
    border: 1px solid colors.$primary-color;
    border-radius: 5px;
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
    background-color: colors.$accent-light-bg;

    &:hover {
      transform: translateY(-10px);
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    }
    i {
      font-size: functions.rem(20);
      color: colors.$primary-color;
    }

    h3 {
      color: colors.$primary-color;
    }
  }
}

@include mixins.responsive("lg-devices") {
  .services-section {
    .services-cards {
      padding: functions.rem(33);
    }
  }
}
