@use "../../abstracts/colors";
@use "../../abstracts/variables";

.skills-section {
  .skills-info{
    p{
      margin-bottom: 16px;
    }
  }
  .skill {
    margin-bottom: 16px;

    span {
      display: block;
      font-weight: variables.$font-weight-bold;
    }

    .progress {
      position: relative;
      background: colors.$accent-light-bg;
      border-radius: 5px;
      height: 10px;
      width: 100%;

      &::before {
        content: '';
        display: block;
        height: 100%;
        background: colors.$primary-color;
        border-radius: 5px;
        transition: width 0.3s ease-in-out;
      }

      &.progress-50::before { width: 50%; }
      &.progress-60::before { width: 60%; }
      &.progress-70::before { width: 70%; }
      &.progress-80::before { width: 80%; }
      &.progress-90::before { width: 90%; }
    }
  }
}
